client/public/base[[:space:]]copy.apk filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
client/public/dist[[:space:]]copy/**/* filter=lfs diff=lfs merge=lfs -text
